{erl_opts, [no_debug_info]}.
{deps, [
        getopt,
        vmq_commons,
        folsom
       ]}.

{escript_incl_apps,
 [vmq_loadtest,
  folsom,
  getopt,
  vmq_commons]}.
{escript_top_level_app, vmq_mqttbench}.
{escript_name, 'vmq_mqttbench'}.
{escript_emu_args, "%%! +P 1000000 -env ERL_MAX_PORTS 1000000 +K true +W w -smp enable +A 64\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
